body {
background-color:rgb(228, 222, 222) ;
font-family:Arial, Helvetica, sans-serif;
margin-left: 100px;
margin-right: 100px;
margin-top: 50px;
text-align: justify;
}
legend{
    font-size: 30pt;
}

article {
    background-color: rgba(157, 191, 191, 0.263);
    padding: 20px;
    border-radius: 15px;
}

fieldset {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15pt;
    
}
.divinput {
    padding: 25px;
}

fieldset input {
    height: 30px;
    width: 350px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(205, 205, 210, 0.45);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.447);
    font-size: 15pt;
}
.cadbotao{
    border: none;
    height: 50px;
    width: 150px;
    background-color: rgb(205, 205, 210);
    font-size: 15pt;
    border-radius: 10px;
    cursor: pointer;

}
.cadbotao:hover{
    background-color: rgb(181, 216, 216);
}


/*          RODAPÉ          */
footer{
    text-align: center;
    text-transform: uppercase;
}

.acesso a {
    text-decoration: none;
    font-size: 12pt;
    padding: 15px;
}

.acesso a:hover {
    text-decoration: underline;
}